@import '../../../utils/sass/mixins.scss';

.mainContainer {
	width: 100vw;
	font-family: 'Delius Swash Caps', cursive;
}

.textContainer {
	width: 100vw;
	padding-top: 100px;
	text-align: center;
}

.truckContainer {
	position: relative;
	width: 100vw;
	height: 350px;

	img {
		position: absolute;
		right: -400px;
		bottom: 60px;
		width: 400px;
	}

	.road {
		position: absolute;
		bottom: 0;
		width: 100vw;
		height: 60px;
		background: #333;
		outline: 10px dashed #fff;
		outline-offset: -30px;
	}
}
