@import '../../utils/sass/mixins.scss';
@import '../../utils//sass/variables.scss';

.mainContainer {
	@include flex(flex-start, center, column);

	width: 100vw;
	height: 100vh;
	text-align: center;

	.mainHeading,
	.subHeading {
		opacity: 0;
	}

	.nextButton {
		opacity: 0;
		transform: none;
	}
}

.textContainer {
	width: 100vw;
	padding-top: 100px;
	text-align: center;
}

.truckContainer {
	position: relative;
	width: 100vw;
	height: 350px;

	.hayTruck {
		position: absolute;
		right: -400px;
		bottom: 60px;
		width: 400px;
	}

	.road {
		position: absolute;
		bottom: 0;
		width: 100vw;
		height: 60px;
		background: #333;
		outline: 10px dashed #fff;
		outline-offset: -30px;
	}
}

.arrowButtonsContainer {
	@include flex(space-between, center, row);

	position: absolute;
	top: calc(50vh - 20px);
	width: 100%;

	.arrowButton {
		@include flex(center, center, row);

		width: 40px;
		height: 40px;
		margin: 0 20px;
		border: none;
		border-radius: 50%;
		background-color: $secondary-color;
		transition: all 0.3s ease;

		&:hover {
			border: 1px solid #333;
		}
	}
}
